doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x", crossorigin="anonymous")
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css")
        title Registra Doctor
    body
        if(success  != '')
            div(class=" alert alert-success m-4 p-2" id="ms-error") #{success}
        div 
            form(action="/register-doctor", method="post")
                label(for="nombre") Nombre
                input(type="text", name="nombre")
                label(for="apellido1") Apellido Paterno  
                input(type="text" name="apellido1")
                label(for="apellido2") Apellido Materno
                input(type="text" name="apellido2") 
                label(for="nss") NSS
                input(type="text" name="nss")
                label(for="curp") CURP 
                input(type="text" name="curp")
                label(for="domicilio") Domicilio 
                input(type="text" name="domicilio")
                label(for="sexo") Sexo 
                div 
                    input(type="radio", name="sexo" value="M")
                    label(for="M") Masculino
                    input(type="radio", name="sexo" value="F")
                    label(for="F") Femenino
                label(for="fecha_nac") Fecha de Nacimiento
                input(type="date", name="fecha_nac")
                label(for="fecha_ingreso") Fecha de Ingreso 
                input(type="date", name="fecha_ingreso")
                label(for="especialidad") Especialidad 
                input(type="text", name="especialidad")
                input.btn.btn-primary(type="submit", value="Actualizar" id="button")
                button.btn.btn-danger(type="reset") Eliminar